@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  padding-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.project-title {
  margin-bottom: 20px;
  font-family: 'Russo One', sans-serif;
}

.drum-machine {
  display: grid;
  grid-template-rows: 40px repeat(3, 100px);
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(0, 0, 0, 0.2);
  border: 5px solid #ffc600;
  border-radius: 5px;
  padding: 10px;
}

.display {
  height: 40px;
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: gray;
  font-family: 'Russo One', sans-serif;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
  border-radius: 5px;
}

.drum-pad {
  background-color: rgba(0, 0, 0, 0.4);
  border: 4px solid #000000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem 0.5rem;
  text-align: center;
  transition: all 0.08s;
  width: 100px;
  font-family: 'Russo One', sans-serif;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
}
